<div class="view-wrapper">
  <hr>
  <h1>Collection</h1>
  <a routerLink="/edit-collection">Edit Collection</a><br>
  <app-filter #filter
  [fullArray]="fullCollection"
  (filterEmitter)="collectionArray = $event"
  ></app-filter>
  <hr>
  <div *ngFor="let collection of collectionArray; let cardIdx = index" class="card-wrapper">
    <div class="card-display">
      <img src="{{ collection.printing.img_url }}" alt="" class="card-image">
      <p class="card-name">{{ collection.printing.card.name }}</p>
      <p class="card-set">{{ collection.printing.set.title }} ({{ collection.printing.set.code }})</p>
      <p class="card-owned">Copies Owned: {{ collection.owned_copies }}</p>
      <p class="card-trade">For trade: {{ collection.trade_copies }}</p>
      <p class="card-foil">Foil: <span *ngIf="collection.foil">Yes</span><span *ngIf="!collection.foil">No</span></p>
    </div>
  </div>
</div>
