.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 1344px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.card-image {
  text-align: center;
  flex: 0 0 200px;
}

.card-image img {
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

