<div *ngIf="cardShow.hasOwnProperty('card')" class="wrapper">
  <h1 class="card-name">{{cardShow.card.name}}</h1>
  <span class="card-set">{{ cardShow.set.title }} ({{ cardShow.set.code }})</span>
  <div class="flex-container">
    <div class="flex-item">
      <div class="img-box" *ngIf="cardShow.backside_img_url !== null; else templateName" (mouseover)="changeFace=true" (mouseout)="changeFace=false">
        <img [hidden]="changeFace" src="{{cardShow.newImg}}" alt="{{cardShow.name}}">
        <img [hidden]="!changeFace" src="{{cardShow.newImgBack}}" alt="{{cardShow.name}}">
        <br />
        <span class="prompt">Hover/Click to see Card-back</span>
      </div>
      <ng-template #templateName><img src="{{cardShow.newImg}}" alt="{{cardShow.name}}"></ng-template>
      <div class="details">
        <ul>
          <li><span class="label">Rarity: </span>{{ cardShow.rarity }}</li>
          <li><span class="label">Card Type: </span>{{ cardShow.card.type }}</li>
          <li><span class="label">Converted Mana Cost: </span>{{ cardShow.card.cmc }}</li>
          <li *ngIf="cardShow.card.power !== null"><span class="label">Power/Toughness: </span>{{ cardShow.card.power }}/{{ cardShow.card.toughness }}</li>
          <li *ngIf="cardShow.card.loyalty !== null"><span class="label">Loyalty: </span>{{ cardShow.card.loyalty }}</li>
          <li><pre>{{ cardShow.card.newtext }}</pre></li>
        </ul>
      </div>
    </div>
  </div>
</div>
