<div class="wrapper">
  <h1 class="card-name">Emrakul, the Promised End</h1>
  <section class="content">
    <div class="card-image">
      <img src="https://i.imgur.com/4EpqDjI.jpg" alt="test-img">
    </div>
    <div class="card-details">
      <span>Eldritch Moon</span>
      <table class="detail-table">
          <tbody>
            <tr>
              <td>
                <dl class="card-information">
                  <dt class="description">CMC:</dt>
                  <dd>13</dd>
                  <dt class="description">Card Type:</dt>
                  <dd>Legendary Creature — Eldrazi</dd>
                  <dt class="description">Power/Toughness:</dt>
                  <dd>13/13</dd>
                  <dt class="description">Card Text:</dt>
                  <dd>Emrakul, the Promised End cost 1 less to cast for each card type among cards in your graveyard.
                    <br>
                      When you cast Emrakul, the Promised End, you gain control of target opponent during that player's next turn. After that turn, that player takes an extra turn.
                      <br>
                      Flying, trample, protection from instants</dd>
                </dl>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </section>
</div>
