<!-- <div *ngFor="let card of userCards" class="card-display">
  <img src="{{ card.printing.img_url }}" (click)="targetCardFromOffer(card)" alt="{{ card.printing.card.name }}">
</div> -->

<div class="your-class">
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
  <div><img src="https://via.placeholder.com/150"></div>
</div>
