.display-wrapper {
  display: block;
  height: 20em;
  width: 98%;
  background-color: #212238;
  margin: 0 0 1em 0;
}

.info-bar {
  height: 20%;
  width: 100%;
  overflow: hidden;
  background-color: #212238;
}

.info-bar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
}

.offer-wrapper {
  padding: 0 1em 1em 1em;
}

.offer-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.card-display {
  display: inline-block;
  margin: 0 0.5em 0.5em 0.5em;
}

img {
  object-fit: cover;
  border-radius: 0.4em;
}

img:hover {
  opacity: 0.8;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 1em;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.5);
  background-color: #b3b3b3;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
