<div class="editlist-wrapper">
  <form (submit)="submitCardSearch()" class="add-card-form">
    <input type="text" [(ngModel)]="cardSearch" name="cardSearch" class="card-search" placeholder="Add Card...">
    <input type="submit" value="Search" class="search-button">
  </form>
  <hr>
  <h1>Wishlist</h1>
  <hr>
  <div>
    <div *ngFor="let wishlist of wishlistArray; let i = index;" style="display:inline-block;padding:5px;" class="{{wishlist.class}}">
      <img *ngIf="wishlist.pref_printing === 'none'" src="{{ wishlist.url }}" alt="">
      <img *ngIf="wishlist.pref_printing !== 'none'" src="{{ wishlist.pref_printing.img_url }}" alt="">
      <p>{{ wishlist.card.name }}</p>
      <select [(ngModel)]="wishlist.pref_printing" name="" id="">
        <option value="none">No Pref</option>
        <option *ngFor="let printing of wishlist.card.cardPrintings" [ngValue]="printing">{{ printing.set.title }}</option>
      </select>
      <app-edit-card 
      [index]="i"
      [id]="wishlist.id"
      [number_wanted]="wishlist.number_wanted"
      [printing]="wishlist.pref_printing"
      [foil]="wishlist.pref_foil"
      [revertIndicator]="wishlist.revertIndicator"
      (updateBufferEmitter)="childUpdateCardBuffer($event)"
      (updateEmitter)="childUpdateCard($event)"
      (successfulUpdateEmitter)="childSuccessfulUpdate($event)"
      (unsuccessfulUpdateEmitter)="childUnsuccessfulUpdate($event)"
      ></app-edit-card>
      <div *ngIf="wishlist.pref_printing === 'none' || (wishlist.pref_printing.foil_version && wishlist.pref_printing.nonFoil_version)">
        <label for="">Foil:</label>
        <input type="checkbox" [(ngModel)]="wishlist.pref_foil"><br>
      </div>
      <button (click)="deleteWishlistEntry(i)">Delete</button>
    </div>
  </div>
  <hr>
  <h1>New Cards</h1>
  <hr>
  <div>
    <div *ngFor="let card of cardArray; let cardIdx = index" class="card-wrapper">
      <div class="card-display-new">
        <img *ngIf="card.wishlist.pref_printing === 'none'" src="{{ card.url }}" class="card-image">
        <img *ngIf="card.wishlist.pref_printing !== 'none'" src="{{ card.wishlist.pref_printing.img_url }}" class="card-image">
        <p class="card-name">{{ card.name }}</p>
        <label for="card-printing" class="printing-display">Preferred Printing</label>
        <div class="card-printing">
          <select [(ngModel)]="card.wishlist.pref_printing" name="" id="">
            <option value="none">No Pref</option>
            <option *ngFor="let printing of card.cardPrintings; let setIdx = index" [ngValue]="printing">{{ printing.set.title }}</option>
          </select>
        </div>
        <label for="card-desire" class="desire-display">Desired Copies:</label>
        <div class="card-desire">
          <input type="number" step="1" [(ngModel)]="card.wishlist.number_wanted" name="">
        </div>
        <label for="card-foil" class="foil-display" *ngIf="card.wishlist.pref_printing === 'none' || (card.wishlist.pref_printing.foil_version && card.wishlist.pref_printing.nonFoil_version)">Foil</label>
        <div class="card-foil" *ngIf="card.wishlist.pref_printing === 'none' || (card.wishlist.pref_printing.foil_version && card.wishlist.pref_printing.nonFoil_version)">
          <input type="checkbox" [(ngModel)]="card.wishlist.pref_foil">
        </div>
        <button (click)="submitCardToWishlist(cardIdx)">Submit</button>
      </div>
    </div>
  </div>
</div>
