<div class="editlist-wrapper">
  <form (submit)="submitCardSearch()" class="add-card-form">
    <input type="text" [(ngModel)]="cardSearch" name="cardSearch" class="card-search" placeholder="Add Card...">
    <input type="submit" value="Search" class="search-button">
  </form>
  <hr>
  <h1>Wishlist</h1>
  <hr>
  <div>
    <div *ngFor="let card of editArray">
      <img *ngIf="card.wishlist.pref_printing === 'none'" src="{{ card.url }}" alt="">
      <img *ngIf="card.wishlist.pref_printing !== 'none'" src="{{ card.wishlist.pref_printing.img_url }}" alt="">
      <p>{{ card.name }}</p>
      <select [(ngModel)]="card.wishlist.pref_printing" name="" id="">
        <option value="none">No Pref</option>
        <option *ngFor="let printing of card.cardPrintings" [ngValue]="printing">{{ printing.set.code }}</option>
      </select>
      <app-edit-card
      [card]="card"
      [number_wanted]="card.wishlist.number_wanted"
      [pref_printing]="card.wishlist.pref_printing"
      ></app-edit-card>
    </div>
  </div>
  <!-- OLD EDIT LIST -->
  <!-- <div>
    <div *ngFor="let card of editArray; let cardIdx = index" class="card-wrapper">
      <div class="card-display">
        <img *ngIf="card.wishlist.pref_printing === 'none'" src="{{ card.url }}" class="card-image">
        <img *ngIf="card.preferredPrinting !== 'none'" src="{{ card.wishlist.pref_printing.img_url }}" class="card-image">
        <p class="card-name">{{ card.name }}</p>
        <label for="" class="printing-display">Preferred Printing: </label>
        <div class="card-printing">
          <select [(ngModel)]="card.wishlist.pref_printing" name="" id="">
            <option value="none">No Pref</option>
            <option *ngFor="let printing of card.cardPrintings" [ngValue]="printing">{{ printing.set.code }}</option>
          </select>
        </div>
        <label for="" class="desire-display">Desired Copies: </label>
        <div class="card-desire">
          <input type="number" step="1" [(ngModel)]="card.wishlist.number_wanted" name="">
        </div>
        <label for="" class="remove-display">Remove</label>
        <div class="card-remove">
          <input type="checkbox" [(ngModel)]="card.markedForDeletion">
        </div>
        <label for="card-foil" class="foil-display" *ngIf="card.wishlist.pref_printing === 'none' || card.wishlist.pref_printing.can_be_foil">Foil</label>
        <div class="card-foil" *ngIf="card.wishlist.pref_printing === 'none' || card.wishlist.pref_printing.can_be_foil">
          <input type="checkbox" [(ngModel)]="card.wishlist.pref_foil">
        </div>
      </div>
    </div>
  </div> -->
  <hr>
  <h1>New Cards</h1>
  <hr>
  <div>
    <div *ngFor="let card of cardArray; let cardIdx = index" class="card-wrapper">
      <div class="card-display-new">
        <img *ngIf="card.preferredPrinting === 'none'" src="{{ card.url }}" class="card-image">
        <img *ngIf="card.preferredPrinting !== 'none'" src="{{ card.preferredPrinting.img_url }}" class="card-image">
        <p class="card-name">{{ card.name }}</p>
        <label for="card-printing" class="printing-display">Preferred Printing</label>
        <div class="card-printing">
          <select [(ngModel)]="card.preferredPrinting" name="" id="">
            <option value="none">No Pref</option>
            <option *ngFor="let printing of card.cardPrintings; let setIdx = index" [ngValue]="printing">{{ printing.set.code }}</option>
          </select>
        </div>
        <label for="card-desire" class="desire-display">Desired Copies:</label>
        <div class="card-desire">
          <input type="number" step="1" [(ngModel)]="card.desiredCopies" name="">
        </div>
        <label for="card-foil" class="foil-display" *ngIf="card.preferredPrinting === 'none' || card.preferredPrinting.can_be_foil">Foil</label>
        <div class="card-foil" *ngIf="card.preferredPrinting === 'none' || card.preferredPrinting.can_be_foil">
          <input type="checkbox" [(ngModel)]="card.foil">
        </div>
        <button (click)="logCardArrayAtIndex(cardIdx)">C LOG</button>
      </div>
    </div>
  </div>
  <button (click)="submitCardsToWishlist()" class="add-card-button">Submit to Wishlist</button>
</div>
