<div class="view-wrapper">
  <hr>
  <h1>Wishlist</h1>
  <a routerLink="/edit-list">Edit Wishlist</a><br>
  <app-filter #filter
  [fullArray]="fullWishlist"
  (filterEmitter)="wishlistArray = $event"
  ></app-filter>
  <hr>
  <div *ngFor="let wishlist of wishlistArray; let cardIdx = index" class="card-wrapper">
    <div class="card-display">
      <div style="position: relative;">
        <img *ngIf="wishlist.hasOwnProperty('url')" src="{{ wishlist.url }}" alt="">
        <img *ngIf="wishlist.pref_foil" class="foilOverlay" src="assets/images/foil-overlay.png" alt="">
      </div>
      <p class="card-name">{{ wishlist.card.name }}</p>
      <p *ngIf="wishlist.pref_printing === null" class="card-set">Preferred: None</p>
      <div *ngFor="let printing of wishlist.card.cardPrintings" class="card-set">
        <p *ngIf="printing.id === wishlist.pref_printing">Preferred: {{ printing.set.title }} ({{ printing.set.code }})</p>
      </div>
      <p class="card-trade">Number Wanted: {{ wishlist.number_wanted }}</p>
    </div>
  </div>
</div>
