.editcollection-wrapper {
    margin: 1em;
  }

.add-card-form {
  font-size: 1em;
  padding: 0.5em 0;
  border-radius: 1em;
  font-family: sans-serif;
  border-width: 0;
}

.card-search, .search-button {
  font-size: inherit;
  padding: 0.3em 0.4em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #000000;
  background-color: #fff;
  height: 2em;
}

.card-search {
  margin-right: 0;
  width: 12em;
}

.card-search:focus {
  outline: none;
}

.search-button {
  margin-left: 0;
  background-color: #d8d8d8;
  width: 4em;
}
.search-button:active, .search-button:focus {
  background-color: rgb(175, 175, 175);
  outline: none;
}

.card-display {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 146px 6em 5em;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "card-image card-name  card-name"
                      "card-image card-set   set-input"
                      "card-image card-owned owned-input"
                      "card-image card-trade trade-input"
                      "card-image card-remove remove-input";
  width: 20em;
}

.card-image {
  display: inline-block;
  grid-area: card-image;
}

.card-name {
  display: inline-block;
  text-align: top;
  margin: 0;
  text-align: left;
  margin-top: 0.8em;
  font-weight: bold;
  grid-area: card-name;
  margin-left: 1em;
}

.set-display {
  grid-area: card-set;
  text-align: left;
  margin-left: 1em;
}

.owned-display {
  grid-area: card-owned;
  text-align: left;
  margin-left: 1em;
}

.trade-display {
  grid-area: card-trade;
  text-align: left;
  margin-left: 1em;
}

.remove-display {
  grid-area: card-remove;
  text-align: left;
  margin-left: 1em;
}

.card-set select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  grid-area: set-input;
  display: block;
  padding-left: 1.2em;
}

.card-owned input {
  grid-area: owned-input;
}

.card-trade input {
  grid-area: trade-input;
}

.card-remove input {
  grid-area: remove-input;
}

.card-set, .card-owned, .card-trade {
  font-size: 1em;
}

.card-set select, .card-owned input, .card-trade input {
  width: 80%;
  box-sizing: border-box;
  height: 2em;
  text-align: center;
}

.card-wrapper {
  display: inline-block;
  padding: 1em;
}

.add-card-button {
  font-size: inherit;
  padding: 0.3em 0.4em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #000000;
  background-color: #fff;
  height: 2em;
  background-color: #d8d8d8;
}

.updateBuffer {
  background-color: #fc7373;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.updateSuccess {
  background-color: #539e5a;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.updateDone { 
  background-color: #ffffff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}