<div class="topnav" id="myTopnav" [ngClass]="status ? 'responsive' : 'not'">
  <a routerLink="/">Home</a>
  <a *ngIf="!_authService.loggedIn()" routerLink="/signup">Signup</a>
  <a *ngIf="!_authService.loggedIn()" routerLink="/login">Login</a>
  <a *ngIf="_authService.loggedIn()" routerLink="/gathering">Gathering</a>
  <a *ngIf="_authService.loggedIn()" routerLink="/view-collection">Collection</a>
  <a *ngIf="_authService.loggedIn()" routerLink="/view-list">Wishlist</a>
  <a *ngIf="_authService.loggedIn()" routerLink="/profile/{{ userId }}">Profile</a>
  <a *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
</div>
