<div *ngIf="data && data.length > 0" class="gathering-wrapper">
  <mat-accordion *ngFor="let partner of data">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ partner.username }} ({{ partner.cards.length }} Match<span *ngIf="partner.cards.length > 1">es</span>)
      </mat-expansion-panel-header>
      <!-- <h3>Matched Cards:</h3> -->
      <!-- <div *ngFor="let card of partner.cards">
        <app-gathering-table [data]="card"></app-gathering-table>
      </div> -->
      <app-gathering-table [data]="partner.cards"></app-gathering-table>
      <a routerLink="/view-collection/{{ partner.userId }}" class="user-btn">Collection</a>
      <a routerLink="/view-list/{{ partner.userId }}" class="user-btn">Wishlist</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="Otherdata && Otherdata.length > 0">
  <mat-accordion *ngFor="let partner of Otherdata">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ partner.userName }} ({{ partner.cards.length }} Match<span *ngIf="partner.cards.length > 1">es</span>)
      </mat-expansion-panel-header>
      <!-- <h3>Matched Cards:</h3> -->
      <!-- <p *ngFor="let card of partner.cards">{{ card.cardName }} - {{ card.number_wanted }} wanted</p> -->
      <!-- <div *ngFor="let card of partner.cards">
        <app-gathering-table [Otherdata]="card"></app-gathering-table>
      </div> -->
      <app-gathering-table [Otherdata]="partner.cards"></app-gathering-table>
      <a routerLink="/view-collection/{{ partner.userId }}" class="user-btn">Collection</a>
      <a routerLink="/view-list/{{ partner.userId }}" class="user-btn">Wishlist</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
