<div *ngIf="data" class="gathering-wrapper">
  <div *ngIf=" searchState.card === true" class="filter-options">
    <p>Results for: {{ searchState.searchName }}</p>
    <form (submit)="refineCardSearch()">
      <select [(ngModel)]="setSelection" name="setRefine">
        <option value="all">All</option>
        <option *ngFor="let set of refineAcquire.setOptions" [ngValue]="set">{{ set }}</option>
      </select>
      <select [(ngModel)]="foilSelection" name="foilRefine">
          <option value="all">All</option>
          <option *ngFor="let foil of refineAcquire.foilOptions" [ngValue]="foil"><span *ngIf="foil === true else falseFoil">Foil</span>
            <ng-template #falseFoil>Non-foil</ng-template></option>
        </select>
        <select [(ngModel)]="cardNumberSelection" name="numberRefine">
          <option value="all">All</option>
          <option *ngFor="let number of refineAcquire.cardNumberOptions" [ngValue]="number">{{ number }}</option>
        </select>
      <input type="submit" value="Refine" class="search-button">
    </form>
  </div>
  <mat-accordion *ngFor="let partner of data">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ partner.username }} ({{ partner.cards.length }} Match<span *ngIf="partner.cards.length > 1">es</span>)
      </mat-expansion-panel-header>
      <!-- <h3>Matched Cards:</h3> -->
      <!-- <div *ngFor="let card of partner.cards">
        <app-gathering-table [data]="card"></app-gathering-table>
      </div> -->
      <app-gathering-table [data]="partner.cards"></app-gathering-table>
      <a routerLink="/view-collection/{{ partner.userId }}" class="user-btn">Collection</a>
      <a routerLink="/view-list/{{ partner.userId }}" class="user-btn">Wishlist</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="Otherdata">
  <div *ngIf=" searchState.card === true" class="filter-options">
    <p>Results for: {{ searchState.searchName }}</p>
    <form (submit)="refineCardSearchProvide()">
      <select [(ngModel)]="setSelection" name="setRefine">
        <option value="all">All</option>
        <option *ngFor="let set of refineProvide.setOptions" [ngValue]="set">{{ set }}</option>
      </select>
      <select [(ngModel)]="foilSelection" name="foilRefine">
          <option value="all">All</option>
          <option *ngFor="let foil of refineProvide.foilOptions" [ngValue]="foil"><span *ngIf="foil === true else falseFoil">Foil</span>
            <ng-template #falseFoil>Non-foil</ng-template></option>
        </select>
        <select [(ngModel)]="cardNumberSelection" name="numberRefine">
          <option value="all">All</option>
          <option *ngFor="let number of refineProvide.cardNumberOptions" [ngValue]="number">{{ number }}</option>
        </select>
      <input type="submit" value="Refine" class="search-button">
    </form>
  </div>
  <mat-accordion *ngFor="let partner of Otherdata">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ partner.username }} ({{ partner.cards.length }} Match<span *ngIf="partner.cards.length > 1">es</span>)
      </mat-expansion-panel-header>
      <!-- <h3>Matched Cards:</h3> -->
      <!-- <p *ngFor="let card of partner.cards">{{ card.cardName }} - {{ card.number_wanted }} wanted</p> -->
      <!-- <div *ngFor="let card of partner.cards">
        <app-gathering-table [Otherdata]="card"></app-gathering-table>
      </div> -->
      <app-gathering-table [Otherdata]="partner.cards"></app-gathering-table>
      <a routerLink="/view-collection/{{ partner.userId }}" class="user-btn">Collection</a>
      <a routerLink="/view-list/{{ partner.userId }}" class="user-btn">Wishlist</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
